* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: brown;
  color: white;
}

header nav a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0 15px;
}
.nav-img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 10px;
}
.left-nav {
  display: flex;
  align-items: center;
}
